* {
    margin: 0;
    box-sizing: border-box;
}

.label {
    display: flex;
    justify-content: flex-start;
    width: 4vw;
    color: #808080; 
}

.input {
    height: 6vh;
    width: 8vh;
    background-color: #fff;
    border: 1px solid #c7bdbd;
    border-radius: 5px;
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: column;
}

/* @media only screen and (min-width: 426px) {
    .label {
        display: flex;
        justify-content: flex-start;
        width: 6vw;
        color: #808080;
        padding-bottom: 1vh;
    }
    
    .input {
        text-align: center;
        font-size: 0.9rem;
        background-color: #fff;
        border: 1px solid #c7bdbd;
        border-radius: 5px;
    }
    
    .input-container {
        margin: 0 15px;
        display: flex;
        flex-direction: column;
    }
    
}
@media only screen and (min-width: 769px) {
    .label {
        display: flex;
        justify-content: flex-start;
        width: 6vw;
        color: #808080;
    }
    
    .input {
        text-align: center;
        font-size: 1rem;
        background-color: #fff;
        border: 1px solid #c7bdbd;
        border-radius: 5px;
        padding: 5px 15px;
    }
    
    .input-container {
        margin: 0 15px;
        display: flex;
        flex-direction: column;
    }
    
} */

/* @media only screen and (min-width: 1025px) {
    .label {
        display: flex;
        justify-content: flex-start;
        width: 2vw;
        color: #808080;
    }
    
    .input {
        text-align: center;
        font-size: 0.9rem;
        background-color: #fff;
        border: 1px solid #c7bdbd;
        border-radius: 5px;
        padding: 5px 15px;
    }
    
    .input-container {
        margin-left: 5px;
        display: flex;
        flex-direction: column;
    }
    
} */