:root {
    --btn--primary: #4a90e2;
    --btn--hover: #76b5ff;
    --btn--active: #235896;
    --white: #fdfdfd;
}

.btn { 
    width: 9rem;
    height: 3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: var(--btn--primary);
    color: var(--white);
    border: none;
    font-size: 0.9rem;
    margin: 5vh 0 0 2vw;
}
.btn:hover {
    background-color: var(--btn--hover) ; 
}

.btn:active {
    background-color: var(--btn--active);
}

/* @media only screen and (min-width: 426px) {
    .btn { 
        font-size: 0.9rem;
    }
} */

@media only screen and (min-width: 769px) {
    .btn { 
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1025px) {
    .btn { 
        font-size: 1.5rem;
    }
}