:root {
    --btn--primary: #4a90e2;
    --btn--hover: #76b5ff;
    --btn--active: #235896;
    --white: #fdfdfd;
}

.btn { 
    width: 15vw;
    height: 10vh;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: var(--btn--primary);
    color: var(--white);
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 12px 0 0 25px;
}
.btn:hover {
    background-color: var(--btn--hover) ; 
}

.btn:active {
    background-color: var(--btn--active);
}