:root {
    --btn--primary: #4a90e2;
    --btn--hover: #76b5ff;
    --btn--active: #235896;
    --white: #fdfdfd;
}

.btn {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn--primary--solid {
    background-color: var(--btn--primary);
    color: var(--white);
    border: none;
}

.btn--medium {
    padding: 10px 30px;
    font-size: 18px;
}

.btn:hover {
    background-color: var(--btn--hover) ; 
}

.btn:active {
    background-color: var(--btn--active);
}