.square {
    display: inline-block;
    width: 6vh;
    height: 6vh;
    background-color: #e7e3e3;
    border: 1px solid #c7bdbd;
}

.start{
    background-color: #7ed321;
}

.end{
    background-color: #639530;
}

.shortest-path{
    background-color: #f5a623;
}